.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.numbers {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #bb7134;
    padding: 10px;
    width: 25px;
    height: 25px;
    margin: 2px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0.5px 0.5px 2px black;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

.numbers:hover {
    background-color: #fff8b4;
    color: black;
    cursor: pointer;
}

.btnPaginado {
    cursor: pointer;
}