.divSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #5ACFC9;
}

.h2Search {
  color: white;
}

.searchBar {
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.inputSearch {
  padding: 20%;
}

.btnSearch {
  padding: 20%;
}