.divSearch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #bb7134c7;
}

.h2Search {
  color: white;
  font-size: 20px;
  text-shadow: 3px 3px 7px black;
}

.searchBar {
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
}

.inputSearch {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid black;
  width: 400px;
}

.btnSearch {
  padding: 6px;
  margin-bottom: 5px;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid black;
  width: 60px;
  font-size: 17px;
}